<footer class="index">
    &copy; SK's Connections Club
    <a class="Footer" href="/about">ABOUT</a>
    <a class="Footer" href="/contact">CONTACT US</a>
    <a class="Footer" href="#"><i class="fab fa-instagram"></i></a>
    <a class="Footer" href="#"><i class="fab fa-twitter"></i></a>
  </footer>
  </body>
  </html>