<%- include('partials/Header.ejs') %>

<div class="about-container">
  <div class="about-content">
    <h1 class="about-heading">About Us</h1>
    <p class="description">Welcome to our website! We are a team of passionate sports and art enthusiasts dedicated to creating a platform for connecting people through their shared interests. Our mission is to inspire and empower individuals to showcase their talents and build meaningful connections.</p>
    <h2 class="team-heading">Our Team</h2>
    <ul class="team-list">
      <li class="team-member">J Sai Vardhan</li>
      <li class="team-member">Keilor</li>
    </ul>
  </div>
</div>

<%- include('partials/Footer.ejs') %>