<%- include('partials/Header.ejs') %>

<div class="contact-container">
  <div class="contact-content">
    <h1 class="contact-heading">Contact Us</h1>
    <p class="contact-description">If you have any questions or inquiries, please feel free to reach out to us using the contact information below:</p>

    <div class="team-container">
      <h2 class="team-heading">Our Team</h2>
      <ul class="team-list">
        <li class="team-member">
          <span class="team-member-name">J Sai Vardhan</span>
          <span class="team-member-email">sjujare@uncc.edu</span>
        </li>
        <li class="team-member">
          <span class="team-member-name">Keilor</span>
          <span class="team-member-email">ksolera2@charlotte.edu</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include('partials/Footer.ejs') %>