<%- include('partials/header') %>
<div class="error-container">
  <div class="content-error">
    <h3 class="error-title"><%= error.status %> Error</h3>
    <p class="error-message"><%= error.message %></p>
  </div>
</div>
<%- include('partials/footer') %>