<%- include('partials/header.ejs') %>
    
    <div id="content1">
      <h3>Welcome to SK's Connections Club Site</h3>
      <br />
      <p>
        Welcome to our vibrant and growing community, the ultimate hub where
        people from all walks of life come together to share their passions!
        Whether you're a sports enthusiast seeking the latest football, tennis,
        or soccer events, a fitness fanatic eager to join yoga, MMA, or cycling
        classes, or an art aficionado looking to connect through painting,
        music, or dance, we've got you covered. Our platform is your passport to
        a world of connections, experiences, and opportunities. Join us today
        and embark on a journey of endless possibilities. Discover, connect, and
        thrive with us!
      </p>
      <br />
    </div>
<%- include('partials/footer.ejs') %>
